<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div style="background: #D3D3D3">
                <div style="padding-left:15px;"><br>
                <span>最近哼多人都在完绝地求生，缺是第一次玩很多人都晕3D，有些进场打CF的人玩起来比起没玩过枪战的人更加适合这款游戏。</span><br>
                </div>
        </div>
        <span style="font-weight:bold;font-size:12px">关于小程序开发</span>
        <ul>
           <li>Java</li>
            <li>HTML</li>
            <li>Python</li>
        </ul>
    <img src="http://img4.imgtn.bdimg.com/it/u=1451023851,4108165595&fm=26&gp=0.jpg"></img>
    <p>微信小程序如何解析HTML富文本（使用wxParse解析富文本的demo）
            微信小程序如何解析HTML富文本 （使用wxParse解析富文本的demo）
            微信小程序如何解析HTML富文本（使用wxParse解析富文本的demo）</p>
        <p>微信小程序如何解析HTML富文本（使用wxParse解析富文本的demo）
            微信小程序如何解析HTML富文本（使用wxParse解析富文本的demo）
            微信小程序如何解析HTML富文本（使用wxParse解析富文本的demo）</p>
    <img src="http://img5.imgtn.bdimg.com/it/u=69050753,1382655822&fm=26&gp=0.jpg"></img>
        <p>近两年，小青柑的火爆有目共睹，娇小玲珑的产品形态、便携式的消费场景、柑与茶结合的时尚方式以及独特的口感和养生功效，
            都在顺应着目前年轻化、多元化、便携化的茶叶消费市场需求，让它成为了一大爆品。</p> 
</body>
</html>