<div id="cnblogs_post_body" class="blogpost-body ">
    <ul>
        <li>问题：</li>
    </ul>
    <p>测试库转到正式库后添加数据，小程序数据渲染不出来，但是测试库没问题，ios数据能显示，没问题，但是安卓显示没数据。排除是服务器https证书问题，如果是证书问题，小程序会直接调不了接口。百度一堆解决办法，最靠谱点的解决办法：<a title="https://www.jianshu.com/p/3203b98807b4" href="https://www.jianshu.com/p/3203b98807b4" target="_blank">https://www.jianshu.com/p/3203b98807b4</a>前后端根据方法排查问题，仍然解决不了。</p>
    <ul>
        <li>问题来源：</li>
    </ul>
    <p>运维在后台添加数据时，<span style="color: #ff0000; background-color: #ffffff;">直接复制粘贴会导致数据异常</span>，正常看数据没问题，但是返回json给前端会渲染不了，除此之外，添加数据时带上回车键也会出现同样渲染不出来的情况(ios渲染不出来)。</p>
</div>